@import "../../_variables";
@import "../../media-queries";

.support {
    height: 100%;

    .row {
        height: 100%;

        .col {
            height: 100%;

            &.tickets-col {
                flex: 0 0 auto;
                width: 100%;

                &.chat-open {
                    width: 50%;

                    @include only-phone-lg {
                        display: none;
                    }
                }
            }

            &.chat-col {
                flex: 0 0 auto;
                width: 50%;

                @include only-phone-lg {
                    width: 100%;
                }
            }
        }
    }

    .tickets-list-card {
        height: 100%;

        .sd-section-card-header {
            margin-bottom: 55px !important;
        }

        .tickets-list {
            margin: 0 -32px;
            margin-top: -32px;

            .tickets-list-table {
                border-collapse: separate;
                width: 100%;
                max-width: 100%;
                border-spacing: 0 16px;
                padding: 0 32px;

                .min-width {
                    width: 1%;
                    white-space: nowrap;
                }

                thead {
                    position: relative;
                    top: 16px;
                }

                th {
                    padding: 13px 16px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.2px;
                    color: #8f90a6;
                }

                .ticket-list-row {
                    margin-bottom: 16px;
                    cursor: pointer;

                    &:hover td {
                        background-color: #fcfcfc;
                    }

                    &.active td {
                        background-color: #0063f7;
                        color: #ffffff;
                    }

                    td {
                        padding: 13px 16px;
                        border-top: 1px solid #c7c9d9;
                        border-bottom: 1px solid #c7c9d9;
                        vertical-align: middle;
                        white-space: nowrap;

                        &:first-child {
                            border-left: 1px solid #c7c9d9;
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 8px;
                        }

                        &:last-child {
                            border-right: 1px solid #c7c9d9;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                        }
                    }
                }
            }
        }
    }

    .new-ticket {
        .new-ticket-header {
            display: flex;
            align-items: center;

            .close-btn {
                background: none;
                margin-right: 32px;

                i {
                    font-size: 16px;
                }
            }

            .new-ticket-title {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: #1c1c28;
            }
        }

        .new-ticket-content {
            margin-top: 24px;

            .new-ticket-form {
                margin-top: 28px;
                width: 100%;
                max-width: 450px;

                .form-row {
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .form-btns {
                    margin-top: 32px;
                }

                .new-ticket-send-btn {
                    margin-top: 28px;
                }

                .new-ticket-cancel-btn {
                    margin-left: 16px;
                    border-color: #4040f2;
                    color: #4040f2;
                }
            }
        }
    }
}